{
    "require": {
        "wp-cli/core-command": "^2.0",
        "wp-cli/extension-command": "^2.0",
        "wp-cli/entity-command": "^2.0",
        "wp-cli/language-command": "^2.0",
        "wp-cli/search-replace-command": "^2.0"
    }
}
