server {
    listen      80;
    server_name {{ item.domains | join(' ') }};

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/acme-challenge {
        root {{ nginx_www_dir }};
        log_not_found off;
        try_files $uri =404;
    }

    access_log off;
}

server {
    listen 443 ssl;
    server_name {{ item.domains | join(' ') }};

    root  {{ item.web_root }};
    index {{ item.index }};

    access_log {{ item.log_path|default('/var/log/nginx/') }}{{ item.domains | first }}-ssl-access.log;
    error_log  {{ item.log_path|default('/var/log/nginx/') }}{{ item.domains | first }}-ssl-error.log;

    ssl_certificate_key     /etc/letsencrypt/live/{{ item.domains | first }}/privkey.pem;
    ssl_certificate         /etc/letsencrypt/live/{{ item.domains | first }}/fullchain.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.domains | first }}/chain.pem;

    {% for key, value in (nginx_http_headers_default | combine(nginx_http_headers) | combine(item.headers | default({}))).items() -%}
        add_header  {{ key }} "{{ value }}"  always;
    {% endfor %}

    location / {
        try_files $uri $uri/ /{{ item.index }}$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass  unix:/var/run/php/php{{ php8_version }}-fpm.sock;
        fastcgi_index {{ item.index|default('app.php') }};
        include       fastcgi_params;
        fastcgi_param PATH_INFO   $fastcgi_script_name;
        fastcgi_param SERVER_NAME $host;
    }


    location ~ /\. {
        deny all;
    }
}
